.header {
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 2;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
}
.header.fixed {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.logo {
  position: absolute;
  left: 2rem;
  top: 1rem;
  font-size: 2.2rem;
  color: #fff;
  font-weight: 900;
  font-family: "Signatra";
}
.logo.fixed {
  color: #61002e;
}
.navRight {
  display: flex;
  height: 100%;
}
.gnb {
  display: flex;
  height: 100%;
  color: var(--secondary);
  font-size: 18px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-weight: 700;
  margin-left: 300px;
}
.gnb a {
  padding: 0 2rem;
}
.gnb.fixed {
  color: #333;
}
.navLight {
  position: absolute;
  top: 0;
  right: 2rem;
  display: flex;
  color: #fff;
  height: 100%;
  align-items: center;
}
.navLight.fixed {
  color: #333;
}
.navLight a,
.navLight button {
  margin: 0 1rem;
  display: flex;
  align-items: center;
}
.navLight a figure,
.navLight button figure {
  width: 2rem;
  height: 2rem;
  overflow: hidden;
  border-radius: 50em;
  margin-right: 0.5rem;
}
/* 서브페이지 헤더 */
.SubPage {
  background-color: rgba(0, 0, 0, 0);
}
.SubPage .logo {
  color: #61002e;
}

.SubPage .navLight {
  color: #333;
}

/* Button 공통 */
.MyButton {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
  white-space: nowrap;
  font-family: "Nanum Pen Script";
}
.MyButton_default {
  background-color: #ececec;
  color: #000;
}

.MyButton_positive {
  background-color: #64c964;
  color: #fff;
}
.MyButton_negative {
  background-color: #fd565f;
  color: #fff;
}

/* mediaQuery */
@media screen and (max-width: 1024px) {
  .header {
    /* display: block; */
    justify-content: space-between;
  }
  .navLight {
    display: block;
  }
  .logo {
    position: static;
    display: flex;
    align-items: center;
    padding-left: 1rem;
  }
  .ham_menu .ham_btn {
    padding: 10px;
    width: 60px;
    height: 60px;
    position: relative;
    z-index: 5;
    cursor: pointer;
  }
  .ham_menu .ham_btn svg {
    width: 100%;
    height: 100%;
    color: #fff;
  }
  .SubPage .ham_menu .ham_btn svg {
    color: #333;
  }
  .header.fixed .ham_menu .ham_btn svg {
    color: #333;
  }
  .toggle_nav {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 50%;
    right: 0;
    bottom: 0;
  }
  .toggle_nav_wrap {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .toggle_nav .top {
    height: 60px;
    background-color: var(--secondary);
  }
  .toggle_nav .navLight {
    position: static;
    display: block;
    color: #333;
  }
  .toggle_nav .navLight .menu {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #c8c8c8;
  }
  .toggle_nav .navLight .menu a,
  .toggle_nav .navLight .menu button {
    padding: 1rem 0;
    width: 100%;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .toggle_nav .nav {
    padding: 1rem;
  }
  .toggle_nav .nav a {
    padding: 0.5rem 0;
    display: block;
    border-bottom: 1px solid #ccc;
  }
}

@media screen and (max-width: 760px) {
}
