@charset "UTF-8";

@font-face {
  font-family: "Signatra";
  src: url("/font/Signatra.otf") format("opentype"); /* url경로는 public아래 경로를 적용 */
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* reset */
/* root */
/* layout */
/*home.css 공통 영역*/
/* mediaQuery */

/* reset */
* {
  box-sizing: border-box;
  font-size: 16px;
}
html,
body {
  padding: 0;
  margin: 0;
  color: #333;
  font-family: "Noto Sans";

  font-size: 1rem;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
dd,
dl,
p {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "Noto Sans";
  font-weight: 400;
}

ul,
ol,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: inherit;
  color: inherit;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

table > caption {
  position: unset;
  text-indent: -100000px;
  font-size: 0;
}

input,
select,
textarea {
  vertical-align: middle;
}

input,
select,
textarea:focus {
  outline: none;
}

textarea {
  resize: none;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

img {
  border-style: none;
  vertical-align: middle;
  max-width: 100%;
}

address {
  font-style: normal;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

figure,
figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  word-break: keep-all;
}

body {
  line-height: 1;
}

main {
  display: block;
}

*[href] {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}
canvas {
  display: none;
}

html {
  font-family: "Noto Sans", "Malgun Gothic", sans-serif;
  font-size: var(--h5);
  overflow-x: hidden;
  width: 100vw;
  /* overflow: hidden; */
}

h1,
h2,
h3,
h4,
b,
strong {
  font-weight: 600;
}

img {
  vertical-align: middle;
}

button {
  display: inline-block;
  margin: 0;
  background: none;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
}
/* ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #e2e2e2;
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
} */

/* root */
@layer base {
  :root {
    --color-primary: #61002e;
    --color-secondary: #61002e;
    --primary: #61002e;
    --primary-txt: #61002e;
    /* --primary-hover: #565656;
    --primary-bg: #F6F6F6;
    --primary-bg-hover: #e0e0e0;
    --primary-icon: #7B7B7B; */
    --secondary: #c4b8b9;
    --secondary-txt: #c4b8b9;
    /* --secondary-hover: #6e4a32;
    --secondary-bg: #FFF7F2;
    --secondary-icon: #7B7B7B;
    --gradient: linear-gradient(to right, #231815 0%, #231815 100%);
    --o-gradient: -o-linear-gradient(left, #231815 0%, #231815 100%);
    --webkit-gradient: -webkit-gradient(linear, left top, right top, from(#231815), to(#231815));
    --aTag-color: #8B674F;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1366px;
    --breakpoint-xl: 1920px; */
  }
}
/* layout */
.maxframe {
  max-width: 1200px;
  margin: 0 auto;
}

/*컴포넌트 여백*/
section {
  padding: 150px 0 170px;
}

section.main-banner-sec {
  padding: 0;
}

/*home.css 공통 영역*/
.title-sec {
  padding: 25px 0 40px;
  text-align: center;
  position: relative;
}

.title-sec h4 {
  font-size: 26px;
  font-weight: 700;
}

.title-sec span {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  color: var(--primary);
  font-size: 18px;
  font-family: "Signatra";
  font-weight: 700;
}

/* 서브페이지 공통css */
.sub_p_wrap {
  padding-top: 150px;
  padding-bottom: 120px;
}
.sub_p_wrap .sub_p_title {
  position: relative;
  padding-bottom: 50px;
}
.sub_p_wrap .sub_p_title.center {
  text-align: center;
}
.sub_p_wrap .sub_p_title h2 {
  padding-bottom: 10px;
  font-size: 2rem;
  font-weight: 700;
}

.sub_p_wrap .sub_p_title span {
  font-size: 18px;
  color: #bcbcbc;
}

.sub_p_wrap .sub_p_title > button {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.sub_p_wrap .sub_p_title .filter_btn {
  width: 30px;
  height: 30px;
}
.sub_p_wrap .sub_p_title .filter_btn svg {
  stroke: var(--primary);
  width: 100%;
  height: 100%;
}

/* FORM 공통 CSS */
.table-form .tr-form {
  display: flex;
  min-height: 60px;
  align-items: center;
  position: relative;
}

.table-form .th-label {
  flex: 0 0 140px;
  min-width: 140px;
  color: #333;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -0.05em;
  word-break: keep-all;
  text-align: left;
  font-weight: 700;
}
.req:before {
  content: "*";
  color: #d9bc9a;
}
.table-form .td-form {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  border-radius: 5px;
}
.table-form .err-msg {
  padding-left: 140px;
  font-size: 13px;
  color: #d9bc9a;
  display: block;
  line-height: 1.3;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.7rem 0.5rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #cccccc;
  border-radius: 5px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.table-form .image_preview {
  padding: 1rem 0 2rem;
  width: 100%;
  position: relative;
  display: flex;
}
.table-form .image_preview .item {
  position: relative;
  width: 20%;
}
.table-form .image_preview .imgs {
  width: 100%;
  position: relative;
  padding-top: 100%;
  border: 1px solid #c8c8c8;
}
.table-form .image_preview .imgs img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.table-form .image_preview .remove_btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  cursor: pointer;
}
.table-form .image_preview .no_image_data {
  padding: 1rem 0 2rem;
}
.table-form .hashtag_area .hash_view .item_list {
  padding: 4px 15px;
  margin-right: 5px;
  border-radius: 50em;
  display: flex;
  align-items: center;
  background-color: var(--secondary);
  color: var(--primary);
}
.table-form .hashtag_area .hash_view .item_list span:last-child {
  padding: 3px;
  padding-left: 10px;
  cursor: pointer;
}
.table-form .hashtag_area .hash_view .item_list img {
  filter: brightness(100);
}
/* ReviewEditor form */
.table-form.review_editor .th-label {
  padding-left: 1rem;
}

/* BUTTON */
.btn-area {
  padding-top: 60px;
  width: 100%;
  text-align: center;
}
.Button {
  width: 150px;
  margin: 0 0.5rem;
  font-size: 18px;
  text-align: center;
  border-radius: 50rem;
  padding: 1rem 0;
}
.Button_default {
  background-color: #c4b8b9;
  color: #fff;
}
.Button_positive {
  background-color: var(--primary);
  color: #fff;
}
.Button_negative {
}

/* mediaQuery */
@media screen and (max-width: 1250px) {
  .maxframe {
    max-width: 990px;
  }
}
@media screen and (max-width: 1024px) {
  .maxframe {
    max-width: 900px;
  }
  section {
    padding: 100px 0 120px;
  }
}
