.BestReview {
  background-color: #f7f7f7;
}
.reviewList {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 30px;
}
.reviewList > li {
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.reviewList > li figure {
  background-color: #333;
  width: 100%;
  position: relative;
  padding-top: 100%;
  overflow: hidden;
}

.reviewList > li figure img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.reviewList .txtBox {
  padding: 1.2rem;
  background-color: #fff;
}
.reviewList .txtBox .writerNick {
  color: var(--primary);
  padding-bottom: 0.5rem;
  font-size: 14px;
}

.reviewList .txtBox .title {
  font-size: 1.2rem;
  font-weight: 700;
  padding-bottom: 0.5rem;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.reviewList .txtBox > span {
  display: block;
}

.reviewList .txtBox .desc {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.reviewList .txtBox .date {
  padding-top: 0.8rem;
  font-size: 14px;
  color: #c8c8c8;
}
.BestReview .modal_inner {
  width: 500px;
  height: auto;
}
.BestReview .writer_info {
  padding: 0 1rem 1rem;
  display: flex;
  align-items: center;
}
.BestReview .writer_info span:first-child {
  display: block;
  padding-right: 10px;
  font-weight: 700;
}
.BestReview .writer_info span:last-child {
  font-size: 14px;
  color: #c8c8c8;
}
.BestReview .modal_inner figure {
  overflow: hidden;
  position: relative;
  padding-top: 70%;
}
.BestReview .modal_inner figure img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.BestReview .modal_inner .txt_box {
  padding: 0 1rem;
}
.BestReview .modal_inner .txt_box p:first-child {
  padding: 1rem 0 0.5rem;
  font-weight: 700;
}
.BestReview .modal_inner .txt_box p:last-child {
  line-height: 1.1;
  padding-bottom: 1rem;
}

.BestReview .modal_inner .wine_info {
  padding: 0 1rem;
  display: flex;
  align-items: center;
}
.BestReview .modal_inner .wine_info p:nth-child(1) svg {
  fill: var(--primary);
  padding-right: 5px;
  width: 22px;
  height: 22px;
}
.BestReview .modal_inner .wine_info p:nth-child(2) {
  padding-right: 10px;
}
/* mediaQuery */
@media screen and (max-width: 1024px) {
  .reviewList {
    gap: 20px;
  }
}
@media screen and (max-width: 760px) {
  .reviewList {
    flex-direction: column;
    padding: 0 1rem;
  }
  .reviewList > li figure {
    padding-top: 50%;
  }
}
